<h2>Change your password</h2>
<body class="body-green">

<div class="alt-p">
  <div class="container">
    <div class="row top-buffer">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="sign-form">
          <h3 class="first-child text-center">Resend confirmation instructions</h3>
          <hr>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation" %>
              </div>
              <br/>
              <div><%= f.submit "Change my password", class: "btn btn-color" %></div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</div>

</body>