<% s_or_b = type.chars.first %>

<div id="<%= type %>" data-hook="address_fields">
  <div class="field <%= "#{type}-row" %>">
    <%= f.label :address1, I18n.t(:street_address) %>
    <%= f.text_field :address1, :class => 'fullwidth' %>
  </div>

  <div class="field <%= "#{type}-row" %>">
    <%= f.label :address2, I18n.t(:street_address_2) %>
    <%= f.text_field :address2, :class => 'fullwidth' %>
  </div>

  <div class="field <%= "#{type}-row" %>">
    <%= f.label :city, I18n.t(:city) %>
    <%= f.text_field :city, :class => 'fullwidth' %>
  </div>

  <div class="field <%= "#{type}-row" %>">
    <%= f.label :postal_code, I18n.t(:postal_code) %>
    <%= f.text_field :postal_code, :class => 'fullwidth' %>
  </div>

  <div class="field <%= "#{type}-row" %>">
    <%= f.label :state_id, I18n.t(:state) %>
    <span id="<%= s_or_b %>state">
      <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth', :style => "display: #{f.object.country.states.empty? ? 'none' : 'block' };", :disabled => f.object.country.states.empty?} %>
    </span>
  </div>

  <div class="field <%= "#{type}-row" %>">
    <%= f.label :country_id, I18n.t(:country) %>
    <span id="<%= s_or_b %>country">
      <%= f.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'select2 fullwidth'} %>
    </span>
  </div>

  <div class="field <%= "#{type}-row" %>">
    <%= f.label :phone_number, I18n.t(:phone_number) %>
    <%= f.phone_field :phone_number, :class => 'fullwidth' %>
  </div>
</div>

<%= javascript_tag do -%>
    $('span#<%= s_or_b %>country .select2').on('change', function(event) {
        var country_id = $('span#<%= s_or_b %>country .select2').val();
        var country = new Country({id: country_id});
        country.fetch({
            reset: true,
            success: function(){
                stateList = new StateList(country.get('states'));
                stateListView = new StateListView({collection: stateList});
                stateListView.render();
                $('span#<%= s_or_b %>state .select2').empty();
                $('span#<%= s_or_b %>state .select2').append(stateListView.el.children);
            }
        });

    });
<% end -%>
