<div class="container">
  <% if @featured_campaigns %>
      <div class="carousel slide" id="myCarousel">
        <!-- Wrapper for slides -->
        <ol class="carousel-indicators">
          <% (0...@featured_campaigns.size).each do |i| %>
              <li data-slide-to=<%= i %> data-target="#myCarousel"></li>
          <% end %>
        </ol>
        <!-- carousel-inner -->
        <div class="carousel-inner" id="carousel_slides">
          <% (0...@featured_campaigns.size).each do |i| %>
              <div class="item" id="carousel_slide<%= i %>" style="background-image: url(<%= campaign_image_path(@featured_campaigns[i])%>)">
                <div class="carousel-caption">
                  <h4>
                    <%= link_to @featured_campaigns[i].title, @featured_campaigns[i] %>
                  </h4>

                </div>
                <!-- end carousel-caption-->
              </div>
              <!-- end item -->
          <% end %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
        <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
      </div>
      <!-- end myCarousel -->
  <% end %>

  <% if @campaigns %>
      <div class="row">
        <div class="col-md-12">
          <h3><%= I18n.t :latest_campaigns %></h3>

          <div class="thumbnails row">
            <% @campaigns.sort_by { |campaign| campaign.created_at }.reverse.each do |campaign| %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <%= link_to campaign_image(campaign), campaign %>
                    <% if campaign.lowest_award %>
                        <div class="label label-success price">
                          <span class="glyphicon glyphicon-tag"></span>
                          <%= Settings.current_currency %> <%= campaign.lowest_award %>
                        </div>
                    <% end %>
                    <div class="caption">
                      <h3>
                        <%= link_to campaign.title, campaign %>
                      </h3>

                      <p> <%= campaign.description %></p>

                      <p>
                        <a href="#" class="btn btn-primary btn-small">Take courses</a>
                        <a href="#" target="_blank" class="btn btn-small btn-link">Learn more</a>
                      </p>
                    </div>
                  </div>
                </div>
            <% end %>

          </div>
        </div>
      </div>
      <%= paginate @campaigns %>
  <% end %>
</div>