<p class="fields">
    Title: <%= f.text_field :title %>
    Description: <%= f.text_area :description, :rows => 3 %>
    Total Budget: <%= f.number_field :total_budget, :class => 'text_field', :step => 0.5 %>
    Unit Budget: <%= f.number_field :unit_budget, :class => 'text_field', :step => 0.5 %>
    <%= link_to_remove_fields "remove", f %>
    <%= f.hidden_field :id %>
    <%= f.fields_for :images, :html => { :multipart => true } do |builder| %>
        <%= render 'images/form', :f => builder %>
    <% end %>
    <p>
        <%= link_to_add_fields "Add Image", f, :images %>
    </p>
</p>